{{!--
This header template is shared across all the pages.
--}}
<header id="yinius-header">
    <div class="responsive-container-header">
        <nav id="navbarTop">
            {{#if isPostPage}}
                <a class="logo" onclick="window.history.back()">
                    <img src="https://www.yinius.es/assets/public/images/logo_white.svg" alt="Logo de yinius, el comparador de cursos y academias de inglés en Madrid." height="52" />
                </a>
            {{else}}
                <a class="logo" href="/blog" onclick="window.history.back()">
                    <img src="https://www.yinius.es/assets/public/images/logo_white.svg" alt="Logo de yinius, el comparador de cursos y academias de inglés en Madrid." height="52" />
                </a>
            {{/if}}

            <div class="logo-mobile">
                <img src="https://www.yinius.es/assets/public/images/logo_white.svg" alt="Logo de yinius, el comparador de cursos y academias de inglés en Madrid." height="40" />

                <div class="mobile-nav-button isHome noselect" onclick="onClickToggleMobileMenu()">
                    <i class="icon size-12 yinius-icon-arrow-down-white"></i>
                    <div class="title">MENU</div>
                </div>
            </div>
            <nav id="mobile-nav">
                <div>
                    {{#if isPostPage}}
                        <a onclick="window.history.back()">Atrás</a>
                    {{else}}
                        <a href="/blog">Inicio</a>
                    {{/if}}
                </div>
                <div class="separator"></div>
                <div class="nav-course-items">
                    <div class="title">Certificados</div>
                    <a class="nav-course-item" href="https://www.yinius.es/cursos-ingles/first-certificate">First Certificate</a>
                    <a class="nav-course-item" href="https://www.yinius.es/cursos-ingles/advanced">Advanced</a>
                    
                    <div class="title">Mejorar tu inglés</div>
                    <a class="nav-course-item" href="https://www.yinius.es/cursos-ingles/nivel-b1">Inglés General B1</a>
                    <a class="nav-course-item" href="https://www.yinius.es/cursos-ingles/nivel-b2">Inglés General B2</a>
                    <a class="nav-course-item" href="https://www.yinius.es/cursos-ingles/nivel-c1">Inglés General C1</a>
                </div>
                <div class="separator"></div>
                <div>
                    <a class="yinius-icon-text" href="https://www.yinius.es/" target="_blank">
                        <i class="icon size-20 yinius-icon-graduation"></i>
                        <p>Web: Encuentra tu curso de inglés ideal</p>
                    </a>
                    <a id="llamar-experto" class="yinius-icon-text phone" href="tel:+34677827178">
                        <i class="icon size-16 yinius-icon-whatsapp"></i>
                        <div>
                            <p class="title fw-600">Habla con un experto</p>
                            <p class="number">+34 677 827 178</p>
                        </div>
                    </a>
                </div>
            </nav>

            <div class="right">
                <a class="yinius-icon-text" href="https://www.yinius.es/" target="_blank">
                    <i class="icon size-20 yinius-icon-graduation-white"></i>
                    <p>Web: Encuentra tu curso de inglés ideal</p>
                </a>
                <div id="llamar-experto" class="yinius-icon-text">
                    <i class="icon size-16 yinius-icon-whatsapp-white"></i>
                    <p>
                        <span class="fs-10">Habla con un experto</span><br/>
                        +34 677 827 178
                    </p>
                </div>
            </div>
        </nav>

        <nav id="navbarBottom">
            <a class="nav-link" href="https://www.yinius.es/cursos-ingles/first-certificate">First Certificate</a>
            <a class="nav-link" href="https://www.yinius.es/cursos-ingles/advanced">Advanced</a>
            <a class="nav-link" href="https://www.yinius.es/cursos-ingles/nivel-b1">Inglés General B1</a>
            <a class="nav-link" href="https://www.yinius.es/cursos-ingles/nivel-b2">Inglés General B2</a>
            <a class="nav-link" href="https://www.yinius.es/cursos-ingles/nivel-c1">Inglés General C1</a>
        </nav>
    </div>

    <script>
        function onClickToggleMobileMenu()
        {
            if (!document.querySelector('#yinius-header').classList.contains('mobileOpened'))
            {
                document.querySelector('#yinius-header').classList.add('mobileOpened');
                document.querySelector('#yinius-header #navbarTop .logo-mobile .mobile-nav-button .icon').classList.add('yinius-icon-arrow-down-red');
                document.querySelector('#yinius-header #navbarTop .logo-mobile .mobile-nav-button').classList.remove('isHome');
                document.querySelector('#navbarTop .logo-mobile > img').src = "https://www.yinius.es/assets/public/images/logo.svg";
            }
            else
            {
                document.querySelector('#yinius-header').classList.remove('mobileOpened');
                document.querySelector('#yinius-header #navbarTop .logo-mobile .mobile-nav-button .icon').classList.remove('yinius-icon-arrow-down-red');
                document.querySelector('#yinius-header #navbarTop .logo-mobile .mobile-nav-button').classList.add('isHome');
                document.querySelector('#navbarTop .logo-mobile > img').src = "https://www.yinius.es/assets/public/images/logo_white.svg";
            }
        }
    </script>
</header>

<!--
{{#if background}}
  <header class="m-header with-picture js-header">
{{else}}
  <header class="m-header js-header">
{{/if}}
  <div class="m-mobile-topbar" data-aos="fade-down">
    <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="Open menu">
      <span class="icon-menu"></span>
  </button>
     
      {{#if backToStartButton}}
        {{#if isPostPage}}
          <a class="backToStartButton in-mobile-topbar" onclick="window.history.back()">
            <span class="icon-arrow-left"></span>
            <span> Inicio</span>
          </a>
        {{else}}
            <a href="/blog" class="backToStartButton in-mobile-topbar">
              <span class="icon-arrow-left"></span>
              <span> Inicio</span>
            </a>
        {{/if}}
    {{else if @site.logo}}
      <a href="https://www.appcademos.com" class="m-logo in-mobile-topbar">
        <img src="{{@site.logo}}" alt="{{@site.title}}">
      </a>
    {{else}}
      <a href="{{@site.url}}" class="m-site-name in-mobile-topbar">
        {{@site.title}}
      </a>
    {{/if}}
    
    <button class="m-icon-button in-mobile-topbar js-open-search" aria-label="Open search">
      <span class="icon-search"></span>
    </button>
  </div>

  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="Close menu">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      <div class="l-wrapper">
        <div class="m-nav">
          <nav class="m-nav__left">
            <ul role="submenu">
              {{#if @site.logo}}
                <li class="only-desktop" role="menuitem">
                    {{#if backToStartButton}}
                        {{#if isPostPage}}
                          <a class="backToStartButton in-mobile-topbar" onclick="window.history.back()">
                            <span class="icon-arrow-left"></span>
                            <span> Inicio</span>
                          </a>
                        {{else}}
                            <a href="/blog" class="backToStartButton in-mobile-topbar">
                              <span class="icon-arrow-left"></span>
                              <span> Inicio</span>
                            </a>
                        {{/if}}
                    {{else}}
                      <a href="https://www.appcademos.com" class="m-logo">
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                      </a>
                    {{/if}}
                </li>
                {{else}}
                <li class="only-desktop" role="menuitem">
                  <a href="{{@site.url}}" class="m-site-name in-desktop-menu">
                    {{@site.title}}
                  </a>
                </li>
              {{/if}}
              {{#if @site.navigation}}
                {{navigation}}
              {{/if}}
              <li role="menuitem" class="js-submenu-option">
                <button class="m-icon-button in-menu-main more js-toggle-submenu" aria-label="Toggle submenu">
                  <span class="icon-more"></span>
                </button>
                <div class="m-submenu js-submenu">
                  <div class="l-wrapper in-submenu">
                    <section class="m-recent-articles">
                      <h3 class="m-submenu-title in-recent-articles">{{t "Recent articles"}}</h3>
                      <div class="js-recent-articles">
                        {{#get "posts" limit="4" order="published_at desc"}}
                        {{#foreach posts}}
                        <div>
                          <a href="{{url}}" class="m-recent-article">
                            <div class="m-recent-article__picture">
                              {{#if feature_image}}
                              <div class="lozad" data-background-image="{{img_url feature_image size="s"}}"></div>
                              {{else}}
                              <div class="no-image lozad" data-background-image="{{asset "images/no-image.png"}}"></div>
                              {{/if}}
                            </div>
                            <h3 class="m-recent-article__title">{{title}}</h3>
                            <span class="m-recent-article__date">{{date published_at timeago="true"}}</span>
                          </a>
                        </div>
                        {{else}}
                        <div class="m-not-found in-recent-articles">{{t "No recent articles found :("}}</div>
                        {{/foreach}}
                        {{/get}}
                      </div>
                    </section>
                    <section class="m-tags">
                      <h3 class="m-submenu-title">{{t "Tags"}}</h3>
                      {{#get "tags" limit="10"}}
                      <ul>
                        {{#foreach tags}}
                        <li>
                          <a href="{{url}}">{{name}}</a>
                        </li>
                        {{else}}
                        <li class="m-not-found">{{t "No tags found :("}}</li>
                        {{/foreach}}
                      </ul>
                      {{/get}}
                    </section>
                  </div>
                </div>
            </li>
            </ul>
        </nav>
          <div class="m-nav__right">
            <button class="m-icon-button in-menu-main js-open-search" aria-label="Open search">
              <span class="icon-search"></span>
            </button>
            <div class="m-toggle-darkmode js-tooltip" data-tippy-content="{{t "Toggle dark mode"}}">
              <input type="checkbox" class="js-toggle-darkmode">
              <div></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>-->
